.chat_main
  .chat_main__group_info
    .info_block
      .info_block__name
        = @group.name
      .info_block__member
        Member：名前
    = link_to "#", class:"edit_btn" do
      Edit

  .chat_main__message_list
    = render @messages
      

  .chat_main__message_form
    = form_for [@group, @message] do |f|
      .text_box
        = f.text_field :body, class: 'text_box__input', placeholder: 'type a message'
        = f.label :image, class: 'text_box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'send_btn'